# Core (wheels exist for py3.10 on Streamlit Cloud)
numpy==1.24.4
scipy==1.10.1
pandas==2.0.3

# PyMC stack (compatible set)
pytensor==2.15.2
arviz==0.16.1
pymc==5.8.0
pymc-bart==0.5.1

# App deps
openpyxl==3.1.2
streamlit==1.27.2
